---
import InfoCard from "../member benefits/InfoCard.astro";
---

<section class="max-w-screen-xl mx-auto px-4 lg:pt-10 snap-x snap-mandatory overflow-x-auto flex gap-4 lg:flex-col lg:gap-10">
  <InfoCard />
</section>

<style>
  section::-webkit-scrollbar{
    display: none;
  }
</style>