---
import OfferCard from "./OfferCard.astro";
---

<section class="w-full h-full max-w-screen-xl m-auto pt-4 sm:pt-10" id="classes">

  <h2 class="text-2xl lg:text-3xl uppercase font-bold text-center mb-7 lg:mb-10 max-lg:mt-3">What we offer</h2>

  <section class="w-full px-4 pb-4 flex gap-4 lg:gap-4 snap-x snap-mandatory overflow-x-auto">
    <OfferCard />
  </section>
  
</section>

<style>
  section::-webkit-scrollbar{
    display: none;
  }
</style>