---
import OfferCard from "./OfferCard.astro";
---

<section class="w-full h-full max-w-screen-xl m-auto p-4 lg:pt-12">

  <h2 class="text-2xl lg:text-3xl uppercase font-bold text-center mb-7">What we offer</h2>

  <section class="w-full flex gap-4 lg:gap-7 snap-x snap-mandatory overflow-x-auto">
    <OfferCard />
  </section>
  
</section>