---
import "@fontsource/roboto";
import "@fontsource/pt-sans";
---

<section class="max-w-screen-xl mx-auto p-4 lg:flex justify-center items-center gap-10 lg:pt-20 lg:pb-0">
  
  <section class="w-full lg:w-2/4">
    <h2 class="uppercase text-2xl lg:text-3xl font-bold lg:mb-[18px] max-lg:mt-4">Not your average gym</h2>
    <p class="my-5">
      Welcome to EVOLVE, where we are committed to revolutionising the way you
      approach fitness. Step into our vibrant space that transcends the
      traditional gym experience.
    </p>
    <p>
      At EVOLVE, we cultivate a dynamic fitness hub that ignites your motivation
      and empowers you to exceed your fitness aspirations.
    </p>
  </section>

  <section class="w-full lg:w-2/4">
    <p class="mb-5">
      Our range of groundbreaking classes, state-of-the-art equipment, and
      expert trainers are here to challenge you, drive your progress, and
      celebrate your achievements.
    </p>
    <p>
      Join us in this fitness journey and witness a transformation like never
      before. Embrace the evolution at EVOLVE, where every sweat session is a
      testament to your dedication and a leap towards a stronger, healthier you.
    </p>
  </section>
  
</section>

<style>
  h2 {
    font-family: "Roboto", sans-serif;
  }

  p {
    font-family: "PT Sans", sans-serif;
  }
</style>
