---
import "@fontsource/pt-sans";

import TeamCard from "./TeamCard.astro";
---

<section class="w-full h-full max-w-screen-xl m-auto lg:py-10 py-4 px-4">
  <h2 class="text-2xl lg:text-3xl text-center uppercase font-bold">The Team</h2>
  <p class="text-xl lg:text-2xl md:w-[590px] text-center m-auto mt-[10px]">Meet our team! From the owner and amazing personal trainers to the friendly faces you'll see at the front desk. </p>
  <section class="w-full mt-6 lg:mt-10 flex flex-wrap gap-6 justify-center items-center">
    <TeamCard />
  </section>
</section>
<style>
  h2 {
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    font-family: "PT Sans", sans-serif;
  }
</style>
