---
import "@fontsource/fugaz-one";

interface Props {
  currentPage: string;
}

const getBackgroundColor = (page: string) => {
  switch (page) {
    case "privacy & policy":
      return "bg-black";
    default:
      return "transparent";
  }
};
---

<header class={`w-full h-16 sm:h-[84px] fixed top-0 right-0 left-0 transition-all z-30 max-sm:bg-black ${getBackgroundColor(Astro.props.currentPage)}`}>

  <nav class="w-full h-full max-w-screen-xl m-auto flex justify-between items-center p-4">

    <a href="/" class="logo text-2xl sm:text-3xl text-white inline-block">EVOLVE</a>

    <button aria-label="Menu" class="sm:hidden">
      <svg id="open-icon" class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <div id="menu" class="absolute top-0 left-0 w-full h-screen bg-black hidden px-4 sm:hidden menu">

      <div class="w-full h-16 flex justify-between items-center">
        <p class="text-white text-2xl logo">MENU</p>
        <button id="close-icon" class="" aria-label="Menu">
          <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>

      <ul class="text-white text-2xl w-full h-screen flex flex-col justify-center items-center gap-2">
        <li><a href="/#about-us" class="relative py-2 inline-block uppercase">About us</a></li>
        <li><a href="/#what-we-offer" class="relative py-2 inline-block uppercase">What we offer</a></li>
        <li><a href="/#team" class="relative py-2 inline-block uppercase">Team</a></li>
        <a href="/#free-pass" class="inline-flex justify-center items-center max-sm:mt-4 px-5 py-2 rounded-full bg-[#C24E3D] text-black uppercase">Free Trial</a>
      </ul>
      
    </div>

    <ul class="menu max-sm:hidden flex justify-center items-center gap-10 text-white">
      <li><a href="/#about-us" class="relative py-3 inline-block">About us</a></li>
      <li><a href="/#what-we-offer" class="relative py-3 inline-block">What we offer</a></li>
      <li><a href="/#team" class="relative py-3 inline-block">Team</a></li>
      <a href="/#free-pass" class="inline-flex justify-center items-center px-5 py-2 rounded-full bg-[#C24E3D] text-black">Free Trial</a>
    </ul>

  </nav>

</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const openIcon = document.getElementById("open-icon");
    const closeIcon = document.getElementById("close-icon");
    const menu = document.getElementById("menu");
    const menuLinks = document.querySelectorAll('.menu a');

    const toggleMenuVisibility = () => {
      menu.classList.toggle("hidden");
    };

    const activateLink = (event) => {
      menuLinks.forEach(link => link.classList.remove('active'));
      event.target.classList.add('active');
      menu.classList.toggle("hidden")
    };

    openIcon.addEventListener("click", toggleMenuVisibility);
    closeIcon.addEventListener("click", toggleMenuVisibility);
    
    menuLinks.forEach(link => {
      link.addEventListener('click', activateLink);
    });


    window.addEventListener("scroll", handleScroll);
    
    function handleScroll() {
      const header = document.querySelector("header");
      const currentPage = window.location.pathname;
    
      if (isHomePage(currentPage)) {
        toggleHeaderBackground(header, window.scrollY > 0);
      }
    }
    
    function isHomePage(path) {
      return path === "/";
    }
    
    function toggleHeaderBackground(header, isScrolled) {
      if (isScrolled) {
        header.classList.add("bg-black");
      } else {
        header.classList.remove("bg-black");
      }
    }
  });
</script>

<style>

  .logo {
    font-family: "Fugaz One", system-ui;
  }

  @media (width <= 425px){
    .menu a {
    font-family: "Fugaz One", system-ui;
    }

  }

  .menu li a:hover::after,
  .menu li a.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #C24E3D;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .menu li a:hover::after {
    animation-name: reveal;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
  }

  @keyframes reveal {
    0% {
      width: 0%;
    }

    100%{
      width: 100%;
    }
  }

</style>
