---
import "@fontsource/fugaz-one";

interface Props {
  currentPage: string;
}

const getBackgroundColor = (page: string) => {
  switch (page) {
    case "privacy & policy":
      return "bg-black";
    default:
      return "transparent";
  }
};
---

<header class={`w-full h-16 sm:h-[84px] fixed top-0 right-0 left-0 transition-all z-30 max-sm:bg-black ${getBackgroundColor(Astro.props.currentPage)}`}>

  <nav class="w-full h-full max-w-screen-xl m-auto flex justify-between items-center p-4">

    <a href="/" class="logo text-2xl sm:text-3xl text-white inline-block">EVOLVE</a>

    <button id="menu-toggle" aria-label="Menu" class="sm:hidden">
      <svg id="menu-icon" class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
      <svg id="close-icon" class="hidden w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>

    <ul id="menu" class="hidden pb-4 sm:p-0 sm:flex flex-col sm:flex-row justify-center items-center sm:gap-5 absolute sm:static top-[64px] left-0 w-full sm:w-auto bg-black sm:bg-transparent text-white">
      <li><a href="#" class="p-3 inline-block">Team</a></li>
      <li><a href="#" class="p-3 inline-block">Classes</a></li>
      <li><a href="#" class="p-3 inline-block">Locations</a></li>
      <li><a href="#" class="p-3 inline-block">Pricing</a></li>
      <li><a href="#" class="inline-block p-3 sm:px-5 sm:py-2 sm:rounded-full sm:bg-[#C24E3D] sm:text-black">Free Trial</a></li>
    </ul>

  </nav>

</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");
    const menuIcon = document.getElementById("menu-icon");
    const closeIcon = document.getElementById("close-icon");

    menuToggle.addEventListener("click", () => {
      menu.classList.toggle("hidden");
      menu.classList.toggle("flex");
      menuIcon.classList.toggle("hidden");
      closeIcon.classList.toggle("hidden");
    });
  });

  window.addEventListener("scroll", function () {
    var $header = document.querySelector("header");
    var currentPage = this.window.location.pathname;

    if (currentPage === "/") {
      if (this.window.scrollY > 0) {
        $header.classList.add("bg-black");
      } else {
        $header.classList.remove("bg-black");
      }
    }
  });
</script>

<style>
  .logo {
    font-family: "Fugaz One", system-ui;
  }
</style>
