---
import "@fontsource/fugaz-one";
---

<header class="w-full h-[84px] max-w-screen-xl mx-auto flex justify-between items-center fixed top-0 right-0 left-0 transition z-10">
  
  <a href="#" class="logo text-[32px] text-white">EVOLVE</a>

  <nav>
    <ul class="flex justify-center items-center gap-5 relative text-white">
      <li><a href="#" class="p-3 inline-block">Team</a></li>
      <li><a href="#" class="p-3 inline-block">Classes</a></li>
      <li><a href="#" class="p-3 inline-block">Locations</a></li>
      <li><a href="#" class="p-3 inline-block">Pricing</a></li>
      <li>
        <a href="#" class="px-5 py-2 rounded-full bg-[#C24E3D]">Free Trial</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .logo {
    font-family: "Fugaz One", system-ui;
  }
</style>
