---
import "@fontsource/fugaz-one";
import "@fontsource/pt-sans";
---

<footer class="w-full bg-[#1E1E1E] pt-10 pb-4">
  <section class="max-w-screen-xl m-auto px-4">
    <section class="w-full flex flex-col md:flex-row justify-center max-md:items-center md:justify-between">
      <section class="mb-8">
        <a href="/" class="logo text-3xl text-white">EVOLVE</a>
      </section>

      <section>
        <nav>
          <ul class="flex gap-8 text-white">
            <li><a href="/">Home</a></li>
            <li><a href="#about-us">About Us</a></li>
            <li><a href="blog">Blog</a></li>
            <li><a href="mailto:info.tronix.dev@gmail.com">Contact</a></li>
          </ul>
        </nav>

        <hr class="mt-4 opacity-10" />

        <section class="flex justify-center lg:justify-end gap-4 mt-4">
          <a href="#" target="_blank"><img src="/icons/social icons/facebook-icon.svg" alt="Facebook" class="size-[38px]"/></a>
          <a href="https://www.instagram.com/tronix.dev" target="_blank"><img src="/icons/social icons/instagram-icon.svg" alt="Instagram" class="size-[38px]"/></a>
          <a href="https://x.com/X7R0N1X" target="_blank"><img src="/icons/social icons/twitter-icon.svg" alt="Twitter" class="size-[38px]"/></a>
          <a href="#" target="_blank"><img src="/icons/social icons/youtube-icon.svg" alt="Youtube" class="size-[38px]"/></a>
        </section>
      </section>
    </section>

    <hr class="my-4 opacity-10 max-md:w-[281px] m-auto" />

    <section class="text-white w-full flex flex-col-reverse md:flex-row justify-center md:justify-between items-center max-lg:gap-4">
      <span class="">Hecho con &hearts; por <a href="https://portfolio-weld-five-97.vercel.app" target="_blank">7R0N1X</a></span>
      <nav>
        <ul class="flex gap-6">
          <li><a href="privacy-&-policy" class="">Privacy & Policy</a></li>
          <li><a href="terms-&-conditions" class="">Terms & Conditions</a></li>
        </ul>
      </nav>
    </section>

  </section>
</footer>

<style>
  .logo {
    font-family: "Fugaz One", system-ui;
  }

  a,
  span {
    font-family: "PT Sans", sans-serif;
  }
</style>
