---
import "@fontsource/pt-sans";
---

<section class="bg-[#C24E3D]" id="free-pass">
  <p class="text-center text-xs py-2 px-4">50% OFF YOUR FIRST MONTH + £0 JOING FEE. USE CODE: SAVE50</p>
</section>

<style>
  p{
    font-family: "PT Sans", sans-serif;
  }
</style>