---
interface Props {
	title: string;
	currentPage: string;
}

const { title, currentPage } = Astro.props;

import ViewTransitions from "astro/components/ViewTransitions.astro";
import Navbar from "../sections/Navbar.astro";
import Footer from "../sections/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Join Evolve Gym and achieve your fitness goals with our state-of-the-art equipment, expert trainers, and diverse classes. Transform your workout routine in a supportive community." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Navbar currentPage={currentPage} />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>

	section[id] {
		scroll-margin-top: 84px;
	}

	@media (max-width: 640px) {
		section[id] {
			scroll-margin-top: 64px;
		}
	}

	html {
		scroll-behavior: smooth;
		scroll-margin: 40px;
	}

</style>

<script>
	document.addEventListener('astro:page-load', function() {
			const hash = window.location.hash;
			if (hash) {
					const element = document.querySelector(hash);
					if (element) {
							element.scrollIntoView({ behavior: 'smooth' })
					}
			}
	})
</script>
