---
interface Props {
	title: string;
	currentPage: string;
}

const { title, currentPage } = Astro.props;

import ViewTransitions from "astro/components/ViewTransitions.astro";
import Navbar from "../sections/Navbar.astro";
import Footer from "../sections/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Join Evolve Gym and achieve your fitness goals with our state-of-the-art equipment, expert trainers, and diverse classes. Transform your workout routine in a supportive community." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/css/lenis.css">
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="description" content="Join Evolve Gym and achieve your fitness goals with our state-of-the-art equipment, expert trainers, and diverse classes. Transform your workout routine in a supportive community.">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://tronix-evolve.vercel.app">
		<meta property="og:type" content="website">
		<meta property="og:title" content="EVOLVE GYM">
		<meta property="og:description" content="Join Evolve Gym and achieve your fitness goals with our state-of-the-art equipment, expert trainers, and diverse classes. Transform your workout routine in a supportive community.">
		<meta property="og:image" content="https://opengraph.b-cdn.net/production/images/de49bede-7129-48ca-9776-148db15bd6a9.png?token=yTtZK_bOfHutEWShOHknkYPLb54XMnQ_-2li_ZKIkfo&height=630&width=1200&expires=33262516918">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="tronix-evolve.vercel.app">
		<meta property="twitter:url" content="https://tronix-evolve.vercel.app">
		<meta name="twitter:title" content="EVOLVE GYM">
		<meta name="twitter:description" content="Join Evolve Gym and achieve your fitness goals with our state-of-the-art equipment, expert trainers, and diverse classes. Transform your workout routine in a supportive community.">
		<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/de49bede-7129-48ca-9776-148db15bd6a9.png?token=yTtZK_bOfHutEWShOHknkYPLb54XMnQ_-2li_ZKIkfo&height=630&width=1200&expires=33262516918">

		<ViewTransitions />
	</head>
	<body>
		<Navbar currentPage={currentPage} />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>

	section[id] {
		scroll-margin-top: 84px;
	}

	@media (max-width: 640px) {
		section[id] {
			scroll-margin-top: 64px;
		}
	}

	html {
		scroll-behavior: smooth;
		scroll-margin: 40px;
	}

</style>

<script>
	document.addEventListener('astro:page-load', function() {
			const hash = window.location.hash;
			if (hash) {
					const element = document.querySelector(hash);
					if (element) {
							element.scrollIntoView({ behavior: 'smooth' })
					}
			}
	})
</script>

<script src="../js/lenisConfi.js"></script>
<script src="../js/aosAnimateConfig.js"></script>
